<!DOCTYPE html>
<html>
  <head>
    <title>Mybnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type = "text/javascript">   
      window.logoURL = "<%= image_url('logo.png')%>"; 
      window.markerURL = "<%= image_url('marker.png')%>"; 
      window.homeMarkerURL = "<%= image_url('home-marker.webp')%>";
      window.homeRadiusMarkerURL = "<%= image_url('home-radius-marker.png')%>"; 
      window.gmAPIKey = "<%= Rails.application.credentials.google[:api_key]%>";
      window.gmMapID = "<%= Rails.application.credentials.google[:map_id]%>";
    </script>


    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&map_ids=#{Rails.application.credentials.google[:map_id]}&libraries=places" %>

   

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Quicksand:wght@300;400;700&family=Red+Hat+Display:wght@300;400;700&family=Roboto:wght@300;700&family=Nunito:wght@300;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
